*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.content{
    color: black;
    text-align: center;
    margin-top: 100px;
}

.data{
    color: black;
    text-align: center;
    margin-top: 20px;
}

.data .select{
    color: black;
    
}
