*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.Contenido{
    margin-top: 100px;
}

.Titulo{
    color: black;
    text-align: left;
    margin-left: 70px;
    font-size: 40px;
}

.selectores{
    color: black;
    text-align: left;
    margin-top: 50px;
    margin-left: 70px;
}

.select-locations{
    color: black;
    margin-right: 20px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    height: 30px;
    width: auto;
    text-transform:uppercase;
    font-weight: bold;
    cursor: pointer;
}

.select-devices{
    color: black;
    margin-right: 70px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 2px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.btn-agregar{
    width: 140px;
    height: 32px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    border-color: #000000;
}

.Tabla{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Tabla-Datos{
    margin-top: 50px;
    width: 50%;
    height: 50%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    align-items: center;
    margin-bottom: 15px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(112, 109, 109, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-height: 100%;
    overflow-y: auto;
  }

  .modal-content ul{
    list-style: none;
  }
  .modal-content li{
    margin-top: 5px;
  }
  
  .btn-cerrar {
    margin-top: 15px;
    padding: 8px 12px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cerrar:hover {
    background: #cc0000;
  }

.seccion-info{
    margin-top: 20px;
}

.informacion{
    background-color: rgb(133, 130, 130);
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.Tabla-Datos th,
.Tabla-Datos td {
    padding: 12px 15px;
    border: 1px solid #000000;
}

.Tabla-Datos thead tr {
    background-color: #f54d4d;
    text-align: left;
}

.Tabla-Datos tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
    cursor: pointer;
}

.Tabla-Datos tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.Tabla-Datos tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}